<div class="text-center pb-2">
  <a
    target="_blank"
    class="text-center text-primary text-uppercase list-group-item-action"
    >User's repo
  </a>
</div>
<div *ngFor="let repo of repos" class="list-group pb-2">
  <a
    [href]="repo.html_url"
    target="_blank"
    class="list-group-item list-group-item-action"
    >{{ repo.name }}
    <img
      style="float: right"
      src="https://img.icons8.com/external-bearicons-gradient-bearicons/30/000000/external-Click-yes-or-no-bearicons-gradient-bearicons-3.png"
  /></a>
</div>
