<div class="card user-card" style="background-color: #fff">
  <div class="background d-flex" style="width: 400; height: 400">
    <img
      class="img-fluid rounded-circle profile-pic img-thumbnail border-primary"
      width="200"
      height="200"
      [src]="user.avatar_url"
      alt=""
      style="margin: 10px auto"
    />
  </div>

  <div class="card-body">
    <h5 class="card-title">
      <img
        src="https://img.icons8.com/color/64/000000/user-male-circle--v2.png"
      />
      {{ user?.name }}
    </h5>

    <p class="card-text"></p>
    <p class="card-text" *ngIf="user?.user?.updated_at">
      <img src="https://img.icons8.com/nolan/48/approve-and-update.png" />
      {{ user?.updated_at | date: "short" }}
    </p>
    <p class="card-text" *ngIf="user?.company">
      <img src="https://img.icons8.com/fluency/48/000000/new-company.png" />
      {{ user?.company }}
    </p>
    <p class="card-text" *ngIf="user?.twitter_username">
      <img
        [attr.href]="twitterUrl"
        src="https://img.icons8.com/cute-clipart/48/000000/twitter.png"
      />
      {{ user?.twitter_username }}
    </p>
    <p class="card-text">
      <img
        src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/34/000000/external-followers-influencer-marketing-wanicon-lineal-color-wanicon.png"
      />
      followers : {{ user?.followers }} . following : {{ user?.following }}
    </p>
  </div>
</div>
