<footer class="container-fluid bg-primary fixed-bottom">
  <div class="row p-0">
    <div class="col-4 text-start text-white pt-1">
      Ronny's Github App, Made with
      <img src="https://img.icons8.com/fluency/37/000000/love-circled.png" /> &
      <img
        src="https://img.icons8.com/external-bearicons-flat-bearicons/48/000000/external-Coffee-valentine-love-bearicons-flat-bearicons.png"
      />
    </div>
    <div class="col-8 text-end pt-3 text-white copy">&copy; 2/02/2022</div>
  </div>
</footer>
